@font-face {
  font-family: KdamThmorPro;
  src: url(assets/fonts/font1.ttf);
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  font-family: "KdamThmorPro";
  font-size: 22px;
}
.icon {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}
.icon2 {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}
main {
  display: flex;
  flex-direction: column;
  background-color: rgb(94, 184, 149);
  color: rgb(0, 0, 0);
  width: 600px;
  height: 1050px;
}
.about-me {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  font-size: 22px;
}
.education {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.army {
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}
.code-examples {
  margin-left: 10px;
  margin-right: 10px;
}
aside {
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 255, 225);
  color: rgb(0, 0, 0);
  width: 400px;
  height: 1050px;
}
.photo {
  width: 350px;
  height: 350px;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 175px;
}
.contacts {
  margin-left: 10px;
  margin-right: 0px;
  font-size: 18px;
}
.skills-main {
  margin-left: 10px;
  margin-right: 0px;
  font-size: 18px;
}
.Languages-main {
  margin-left: 10px;
  margin-right: 0px;
  font-size: 18px;
}
footer {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 50px;
  align-items: center;
  background-color: rgb(116, 121, 119);
  color: rgb(0, 0, 0);
}
.logo-github {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}
.logo-rs_school {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.education-list {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.speciality-list {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.block1 {
  display: flex;
  flex-direction: row;
}
